# GitHub PAT with reposistory and package access
GITHUB_TOKEN=ghp_***
# Kubernetes CA cert, base64-encoded -- retrieve with e.g. kubectl get -o jsonpath="{.data['ca\.crt']}" secret some-service-account-token
KUBERNETES_CA=...
# Kubernetes service token, base64-encoded -- retrieve with e.g. kubectl get -o jsonpath="{.data.token}" secret some-service-account-token
NAMESPACE_TOKEN=...
# Kubernetes API endpoint (server as specified in kube config; view with kubectl cluster-info)
KUBERNETES_SERVER=https://10.0.0.1:8443
